

<h3>@ViewData["PageTitle"]</h3>
@{
    var employee = ViewData["Employee"] as EmployeeManagement.Models.Employee;
}

<h2>Employee Details</h2>
<div>Name: @employee.Name</div>
<div>Email: @employee.Email</div>
<div>Department: @employee.Department</div>